.create-task {
     color: #ffffff;
     background-color: #0e1a2b;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 500px;
     margin: 0 auto;
        padding: 2rem;

    h1 {
        text-align: center;
    }
}

.add-task {

  
  & input , textarea {
    width: 100%;
    border-radius: 8px;
    border: none;
    background: var();
    color: #747474;
    font-size: 16px;
    margin-bottom: 12px;
    outline: none;

  
  } 
  & textarea {
    height: 100px;
    padding: 8px;
    resize: none;
  }
    & input {
        height: 40px;
        padding: 0 12px;
    }

    & button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 8px;
        background: #3b82f6;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        margin-top: 2rem;
    }
 
   
}

