@import url(./sideBar.css);
@import url(./global.css);
@import url(./dashboard.css);
@import url(./add-task-form.css);
@import url(./add-schedule-form.css);
@import url(./custom-category.css);
@import url(./var.css);
@import url(./list-tasks.css);
@import url(./search.css);
@import url(./mobile.css);
@import url(./calendar.css);